<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form id="myform" method="post" action="/api/upload"   enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="button" id="aa" value="submit">
</form>
<script>
    window.onload = function () {
        var btn = document.getElementById("aa")

        var myform =  document.getElementById("myform")
        btn.onclick = function () {
            myform.submit()
            return false

        }
    }
</script>
</body>
</html>