<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lux.uchat.dao.UserDao">
    <select id="getuserList" resultType="com.lux.uchat.domain.User">SELECT * FROM USER </select>



    <!--private  String passWord;-->
    <!--private String email;-->
    <!--private String nickName;-->
    <!--private String mobile;-->
    <!--private String account;-->
    <insert id="registryUser" parameterType="com.lux.uchat.domain.User"  >
        insert into user (passWord,email,nickName,mobile,account) values (#{passWord},#{email},#{nickName},#{mobile},#{account})
    </insert>
</mapper>